<!DOCTYPE html>
<html>
<head>
    <title>Student Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Student Management System</h1>
    <br>
    <br>
    
    <a href="/add">Add Student</a> |
    <a href="/view">View Students</a>
    <br>
    <a href="/add_teacher">Add Teacher</a><br>
    <a href="/view_teachers">View Teachers</a><br>
    <a href="/add_course">Add course</a><br>
    <a href="/view_courses">View Courses</a>
    <a href="/add_marks">Add Marks</a>
    <a href="/view_marks">View Marks</a>
    
</body>
</html>
